---
---

@import "reset";
@import "config";

body {
	color: $color-black;
    background: rgba(255, 250, 240, 0.50);
	font-family: 'Inconsolata';
	font-size: 105%;
	font-weight: 400;
}
h1 {
	margin-bottom: 5px;
}
p {
	font-size: 1em;
	line-height: 150%;
}
a {
  color: $color-link;
  text-decoration: none;
  &:visited {
	color: $color-link;
	text-decoration: none;
  }
  &:hover {
	color: $color-link;
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid $color-link;
  }
  &:active {
	color: $color-link;
	text-decoration: none;
  }
}
ul {
	list-style: none;
	li {
		padding: 5px;
		padding-left: 10px;
		@media screen and (max-width: $br) {
			padding: 10px 0 10px 0;
		}
	}
}

.title {
    padding-bottom: 30px;
    
    h1 {
        color: #C02222; // #ab120d
        font-size: 1.4em;
		margin-bottom: 5px;
    }
}


.wrapper {
	max-width: 51%;
    margin: auto;
	padding: 60px 30px 60px 30px;
	@media screen and (max-width: $br) {
		padding: 20px;
	}
}


.header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding-bottom: 50px;
	@media screen and (max-width: $br) {
		display: block;
	}
	h1 {
		font-size: 2em;
		margin-bottom: 0;
	}
	ul {
		margin-top: 10px;
		li {
			display: inline;
			padding: 0;
			padding-left: 5px;
		}
	}
}

.blog {
	padding-bottom: 30px;
	h1 {
		font-size: 1.4em;
		margin-bottom: 5px;
	}
}

.bookshelf {
    padding-bottom: 30px;
    padding-top: 30px;
    
    &__back {
        a {
            
        }
    }
    
    &__title {
        display: block;
        margin-top: 20px;
		margin-bottom: 6px;
		
        h1 {
			display: inline-block;
			font-size: 1.6em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
			border-bottom: 3px solid $color-black;
		}
    }
    
    &__last_updated_at {
        font-size: 1em;
        font-style: italic;
    }
    
    &__meta {
        p {

		}
	}
    
    &__content {
        
        table {
            margin: 0;
            padding: 0;
            
            border-collapse: collapse;
            width: 100%;
            
            tr {
                border: 1px solid #cccccc;
                background-color: #f8f8f8;
                
                th {
                    border: 1px solid #cccccc;
                    font-weight: bold;
                    text-align: center;
                    padding: 6px 13px;
                    background-color: white;
                    vertical-align: middle;
                }
                
                td {
                    border: 1px solid #cccccc;
                    text-align: left;
                    padding: 8px 17px;
                    vertical-align: top;
                    
                    ul {
                        font-size: 1em;
                        list-style: circle;
                        margin-left: 30px;
                        margin-top: 12.5px;
                        margin-bottom: 12.5px;
                        li {
                            padding-top: 1px;
                            padding-left: 5px;
                            line-height: 1.5em;
                            @media screen and (max-width: $br) {
                                padding: 10px 0 10px 0;
                            }
                        }
                    }
                    
                    ol {
                        // To copy ul margin-left.
                        margin-left: 30px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    
    &__content_wrapper {
        padding-bottom: 30px;
    }
}

.post {
    padding-bottom: 30px;
    &__back {
		a {
			
		}
	}
	&__title {
		display: block;
		margin-top: 20px;
		margin-bottom: 6px;
		h1 {
			display: inline-block;
			font-size: 1.6em;
			font-weight: 700;
			padding-right: 10px;
			padding-bottom: 2px;
			text-decoration: none;
			border-bottom: 3px solid $color-black;
		}
	}
	&__date {
		p {
			font-size: 1em;
			font-style: italic;
		}
	}
	&__meta {
		p {

		}
	}
	
    &__content {
		padding-top: 40px;
		h1 {
			font-size: 1.4em;
			font-weight: 700;
			margin-top: 50px;
			margin-bottom: 10px;
		}
		h2 {
			font-size: 1.1em;
			font-weight: 700;
			margin-top: 25px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
            margin-bottom: 15px;
		}
		a {
			padding-bottom: 1px;
			border-bottom: 1px solid $color-link;
			&:hover {
				background-color: $color-grey;
				text-decoration: none;
			}
		}
		strong {
			font-weight: 700;
		}
		em {
			font-style: italic;
		}
		ul {
			font-size: 1em;
			list-style: circle;
			margin-left: 30px;
			margin-top: 12.5px;
			margin-bottom: 12.5px;
			li {
				padding: 1px;
				padding-left: 5px;
				@media screen and (max-width: $br) {
					padding: 10px 0 10px 0;
				}
			}
			@media screen and (max-width: $br) {
				margin-left: 10px;
			}
		}
        ol {
            // To copy ul margin-left.
            margin-left: 30px;
            margin-bottom: 15px;
        }
		img {
			margin-top: 10px;
			margin-bottom: 10px;
			@media screen and (max-width: $br) {
				width: 100%;
				margin: auto;
			}
		}
        blockquote {
            background: #f9f9f9;
            border-left: 10px solid #ccc;
            margin: 1.5em 10px;
            padding: 0.5em 10px;
            quotes: "\201C""\201D""\2018""\2019";
        }
        
        blockquote p {
            display: inline;
        }
	}
}

.about {
	&__title {
		font-size: 1.6em;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	&__content {
		margin-top: 20px;
		h1 {
			font-size: 1.2em;
			font-style: italic;
			margin-top: 30px;
			margin-bottom: 5px;
		}
		p {
			font-size: 1em;
			line-height: 150%;
			margin-bottom: 10px;
		}
	}
}

.error {
    position: relative;
    margin-left: 14%;
    margin-top: 5%;
}

small {
    font-size: 0.70em;
}
